<h2 class="center aligned ui large header">Welcome to MessageMe - <em> a complete Chat App</em></h2>

<h4 class="ui center aligned icon medium header">
  <i class="circular power off orange tiny icon"></i>
  Log in to continue
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= render 'form' %>
    </div>
    <div class="middle aligned column">
      <div class="ui big orange disabled button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>

